body {
    min-height: 100vh;
    min-width: 100vw;

    display: flex;

    justify-content: center;
    align-items: center;
    
}

.btn-modern {
    background-color: gray;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    
    
    }


    .btn-modern:hover {
        background-color: white;
        color: black;
        font-weight: bold;
        padding: 10px 20px;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        transform:translateY(-5px);
        box-shadow: 0 0 10px #000;
        transition: all 4s;
        
        }